<div class="form-container">
  <div class="newProject">
    <h2>Nouveau Projet</h2> 
  </div>

  <div class="pContent">
    <form (ngSubmit)="submitForm()">

      <div class="projectName">
        <label for="title">Titre *</label>
          <input
            id="title"
            name="title"
            type="text"
            [(ngModel)]="formData.title"
            required
          />

      </div>

      <div class="projectDomain">
        <label for="domain">Domaine *</label>
          <select
            id="domain"
            name="domain"
            [(ngModel)]="formData.domain"
            required>

            <option value="" disabled selected>Choisir un domaine</option>
            <option *ngFor="let domain of domains" [value]="domain">
              {{ domain }}
            </option>
          </select>

                    <!-- Domaine personnalisé -->
            <div *ngIf="formData.domain === 'Autre'">
              <label for="customDomain">Précisez le domaine</label>
              <input
                type="text"
                id="customDomain"
                name="customDomain"
                [(ngModel)]="formData.customDomain"
                placeholder="Ex : LegalTech, ArtTech..."
                required/>

            </div>
      </div>

      <div class="projectDescription">
              <!-- Description -->
        <label for="description">Description du projet</label>
        <textarea
          id="description"
          name="description"
          [(ngModel)]="formData.description"
          rows="4"
          placeholder="Décris brièvement ton projet ici..."
        ></textarea>
      </div>

  

  <!-- Upload fichier (PrimeNG) -->
  <!-- <p-fileupload
    name="cahier"
    [customUpload]="true"
    [auto]="true"
    [maxFileSize]="2000000"
    accept=".pdf,.doc,.docx"
    (onSelect)="onSelect($event)"
    (uploadHandler)="handleUpload($event)"
    chooseLabel="Choisir un fichier"
    uploadLabel="Téléverser"
    cancelLabel="Annuler"
  ></p-fileupload> -->

  <!-- Upload fichier -->
<label for="fileInput">Cahier des charges (optionnel)</label>
<input
  type="file"
  id="fileInput"
  (change)="onSelect($event)"
  accept=".pdf,.doc,.docx"
/>

<!-- Prévisualisation -->
  <div *ngIf="formData.file">
    <p>Fichier sélectionné : {{ formData.file.name }}</p>
    <button (click)="handleUpload()">Téléverser</button>
  </div>

    <!-- Soumettre -->
    <button type="submit">Soumettre le projet</button>
  </form>


    <form (ngSubmit)="submitForm()" class="project-form">
      <!-- contenu ici -->
    </form>
    
  </div>
  


</div>


