<aside
  class="bg-orange-500 w-64 min-h-screen text-white flex flex-col justify-between"
>
  <div>
    <div class="flex items-center gap-2 mb-6 bg-white w-full">
      <img src="assets/images/logoV11.png" alt="Logo" class="w-80 h-30" />
    </div>

    <nav class="flex flex-col gap-5">
      <a
        routerLink="/admin/statistics"
        routerLinkActive="bg-orange-600 text-xl  rounded "
        class="flex items-center gap-2 hover:bg-orange-600 p-2 rounded"
      >
        <lucide-angular name="chart-no-axes-combined"></lucide-angular>
        <span>Statistiques</span>
      </a>
      <a
        routerLink="/admin/projects"
        routerLinkActive="bg-orange-600 text-xl rounded"
        class="flex items-center gap-2 hover:bg-orange-600 p-2 rounded"
      >
        <lucide-angular name="lightbulb"></lucide-angular>
        <span>Projects</span>
      </a>
      <a
        routerLink="/admin/managers"
        routerLinkActive="bg-orange-600 text-xl rounded"
        class="flex items-center gap-2 hover:bg-orange-600 p-2 rounded"
      >
        <lucide-angular name="user-check"></lucide-angular>
        <span>Gestionnaires</span>
      </a>
      <a
        routerLink="/admin/projects-to-approve"
        routerLinkActive="bg-orange-600 text-xl rounded"
        class="flex items-center gap-2 hover:bg-orange-600 p-2 rounded"
      >
        <lucide-angular name="circle-check-big"></lucide-angular>
        <span>Projets à valider</span>
      </a>
      <a
        routerLink="/admin/users"
        routerLinkActive="bg-orange-600 text-xl  rounded"
        class="flex items-center gap-2 hover:bg-orange-600 p-2 rounded"
      >
        <lucide-angular name="circle-user-round"></lucide-angular>
        <span>Utilisateurs</span>
      </a>
    </nav>

    <div class="mt-6 border-t border-white pt-4">
      <h2 class="font-semibold mb-2">Configurer CollabDev</h2>
      <a
        routerLink="/admin/configuration"
        routerLinkActive="bg-orange-600 text-xl rounded"
        class="flex items-center gap-2 hover:bg-orange-600 p-2 rounded"
      >
        <lucide-angular name="monitor-cog"></lucide-angular>
        <span>Configuration</span>
      </a>
    </div>
    <a
      routerLink="/admin/teams-and-roles"
      routerLinkActive="bg-orange-600 text-xl rounded"
      class="flex items-center gap-2 hover:bg-orange-600 p-2 rounded"
    >
      <lucide-angular name="users"></lucide-angular>
      <span>Équipe & Permissions</span>
    </a>
    <a
      routerLink="/admin/confidentiality-policy"
      routerLinkActive="bg-orange-600 text-xl rounded"
      class="flex items-center gap-2 hover:bg-orange-600 p-2 rounded"
    >
      <lucide-angular name="scroll-text"></lucide-angular>
      <span>Politiques de confidentialité</span>
    </a>
  </div>

  <div class="border-t border-white pt-4">
    <h2 class="font-semibold mb-2">Paramètres</h2>
    <a
      routerLink="/admin/settings"
      routerLinkActive="bg-orange-600 text-xl rounded"
      class="flex items-center gap-2 hover:bg-orange-600 p-2 rounded"
    >
      <lucide-angular name="cog"></lucide-angular>
      <span>Paramètre compte</span>
    </a>

    <a
      routerLink="/admin/support"
      routerLinkActive="bg-orange-600 text-xl rounded"
      class="flex items-center gap-2 hover:bg-orange-600 p-2 rounded"
    >
      <lucide-angular name="book-marked"></lucide-angular>
      <span>Support</span>
    </a>
    <button
      class="flex items-center gap-3 hover:bg-orange-600 hover:w-60 p-2 rounded"
      (click)="logout()"
    >
      <lucide-angular name="log-in"></lucide-angular>
      <span>Se déconnecter</span>
    </button>
  </div>
</aside>
