<aside
  class="bg-orange-500 w-64 min-h-screen text-white p-4 flex flex-col justify-between"
>
  <div>
    <div class="flex items-center gap-2 mb-6 bg-white w-full">
      <img src="assets/images/logoV1.png" alt="Logo" class="w-80 h-30" />
    </div>

    <nav class="flex flex-col gap-3">
      <a
        routerLink="/admin/statistics"
        class="flex items-center gap-2 hover:bg-orange-600 p-2 rounded"
      >
        <lucide-angular name="house"></lucide-angular>
        <span>Statistiques</span>
      </a>
      <a
        routerLink="/admin/projects"
        class="flex items-center gap-2 hover:bg-orange-600 p-2 rounded"
      >
        Projets</a
      >
      <a
        routerLink="/admin/managers"
        class="flex items-center gap-2 hover:bg-orange-600 p-2 rounded"
      >
        Gestionnaires</a
      >
      <a
        routerLink="/admin/projects-to-approve"
        class="flex items-center gap-2 hover:bg-orange-600 p-2 rounded"
        >Projets à valider</a
      >
      <a
        routerLink="/admin/users"
        class="flex items-center gap-2 hover:bg-orange-600 p-2 rounded"
      >
        Utilisateurs</a
      >
    </nav>

    <div class="mt-6 border-t border-white pt-4">
      <h2 class="font-semibold mb-2">Configurer CollabDev</h2>
      <a
        routerLink="/admin/configuration"
        class="flex items-center gap-2 hover:bg-orange-600 p-2 rounded"
      >
        Configuration</a
      >
    </div>
  </div>

  <div class="border-t border-white pt-4">
    <h2 class="font-semibold mb-2">Paramètres</h2>
    <a
      routerLink="/admin/settings"
      class="flex items-center gap-2 hover:bg-orange-600 p-2 rounded"
    >
      Paramètre compte</a
    >
    <a
      routerLink="/admin/teams-and-roles"
      class="flex items-center gap-2 hover:bg-orange-600 p-2 rounded"
    >
      Équipe & Permissions</a
    >
    <a
      routerLink="/admin/support"
      class="flex items-center gap-2 hover:bg-orange-600 p-2 rounded"
    >
      Support</a
    >
    <a
      routerLink="/admin/confidentiality-policy"
      class="flex items-center gap-2 hover:bg-orange-600 p-2 rounded"
      >Politiques de confidentialité</a
    >
  </div>
</aside>
