<!-- view-projects.component.html -->
<div class="projects-container">
  <div class="header-section">
    <div class="title-intro">
      <h1>Projets</h1>
    </div>
    <div class="actions"></div>
    <div class="search-filter-section">
      <!-- <input
        type="text"
        placeholder="Rechercher..."
        (input)="onSearchChange($event)"
        class="search-bar"
      />
      <select (change)="onFilterChange($event)" class="filter-select">
        <option value="title" disabled selected>Filtrer</option>
        <option value="title">Nom du projet</option>
        <option value="level">Niveau du projet</option>
        <option value="domain">Domaine</option>
        <option value="status">Statut</option>
      </select> -->
      <!-- <app-chip
        [searchQuery]="searchTerm"
        [currentFilter]="filter"
        (searchChange)="onSearch($event)"
        (filterChange)="onFilter($event)"
      >
      </app-chip> -->
    </div>
  </div>
  <div class="projects-grid">
    <div
      class="project-card"
      *ngFor="let project of filteredProjects.slice().reverse()"
    >
      <div class="project-header">
        <span class="date">{{ getRelativeDate(project.createdDate) }}</span>
      </div>
      <div class="project-content">
        <div class="project-info">
          <div class="title-level">
            <h2 class="project-title">{{ project.title }}</h2>
            <span
              class="level-tag"
              [ngStyle]="{
                'background-color': project.level === 'BEGINNER' ? '#90EE90' 
                  : project.level === 'INTERMEDIATE' ? '#87CEEB' 
                  : project.level === 'ADVANCED' ? '#906E90' 
                  : ''
              }"
            >
              {{ project.level }}
            </span>
          </div>
          <p class="project-description">{{ project.description }}</p>
        </div>
        <div class="domain-column">
          <span class="domain-tag"> {{ project.domain }} </span>
        </div>
        <div class="contributors">
          <span
            class="avatar"
            *ngFor="let contributor of membersSpeudos[project.id]?.slice(0, 3)"
            [ngStyle]="{'background-color': getAvatarColor(contributor)}"
            (click)="showContributors(project)"
            >{{ contributor.charAt(0) }}</span
          >
          <span
            class="contributor-count"
            *ngIf="(membersSpeudos[project.id]?.length || 0) > 3"
          >
            +{{ membersSpeudos[project.id].length - 3 }}
          </span>
        </div>
        <div class="status-actions">
          <span
            class="status-tag"
            [ngStyle]="{'background-color': project.status === 'IN_PROGRESS' ? '#90EE90'
            : project.status === 'TODO' ? '#FFA500'
            : project.status === 'DONE' ? '#D3D3D3'
            : ''}"
          >
            {{ project.status }}
          </span>
        </div>
        <!-- <span
          class="favorite-star"
          (click)="toggleFavorite(project)"
          [ngClass]="{'favorite': project.isFavorite}"
          >★</span

        > -->
        @if (project.managerId === null) {
        <button
          class="join-btn"
          [disabled]="project.status === 'DONE'"
          (click)="joinAsManager(project.id)"
        >
          Rejoindre Gestionnaire
        </button>

        }@else {
        <div class="relative">
          <button
            class="join-btn"
            [disabled]="project.status === 'DONE'"
            (click)="openModal(project.id)"
          >
            Rejoindre Contributeur
          </button>

          <app-pop
            *ngIf="showModal"
            (submitted)="onPopupSubmit($event)"
            (closed)="showModal = false"
            class="fixed inset-0 flex items-center justify-center z-50"
          ></app-pop>
        </div>

        }
      </div>
    </div>
    <div *ngIf="filteredProjects.length === 0" class="no-projects">
      <p>Aucun projet trouvé.</p>
    </div>
  </div>

  <!-- Modale pour les contributeurs -->
  <div class="modal" *ngIf="selectedProject" (click)="closeModal($event)">
    <div class="modal-content" (click)="stopPropagation($event)">
      <h2>Contributeurs de {{ selectedProject.title }}</h2>
      <ul class="contributors-list">
        <li *ngFor="let contributor of membersSpeudos[selectedProject.id]">
          <span
            class="avatar"
            [ngStyle]="{'background-color': getAvatarColor(contributor)}"
            >{{ contributor.charAt(0) }}</span
          >
          <span class="contributor-name">{{ contributor }}</span>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- <app-pop
  *ngIf="showModal"
  (submitted)="onSubmit($event)"
  (closed)="showModal = false"
></app-pop> -->

<!-- <div class="relative">
  <app-pop
    *ngIf="showModal"
    (submitted)="onPopupSubmit($event)"
    (closed)="showModal = false"
    class="absolute top-full mt-2 left-0 z-50"
  ></app-pop>
</div> -->
