<!-- <app-my-contributions></app-my-contributions> -->
<!-- <app-accepter-manager></app-accepter-manager> -->

<!-- <app-gestion-user-cote-admin></app-gestion-user-cote-admin> -->

<!-- <app-gestion-des-users-cote-admin></app-gestion-des-users-cote-admin>  -->

<!-- <app-detail-projet></app-detail-projet> -->

<!-- <app-view-projects></app-view-projects> -->

<!-- <app-pop
  *ngIf="showModal"
  (submitted)="onSubmit($event)"
  (closed)="showModal = false"
></app-pop> -->


<!-- 



 Toast notifications -->
<!-- <p-toast></p-toast> -->

<!-- Confirm dialog -->
<!-- <p-confirmDialog></p-confirmDialog> -->

<!-- <div style="margin: 2rem"> -->
<!-- Boutons Toast -->
<!-- <button
    pButton
    type="button"
    label="Succès"
    icon="pi pi-check"
    class="p-button-success"
    (click)="showSuccess()"
    pRipple
  ></button>
  <button
    pButton
    type="button"
    label="Info"
    icon="pi pi-info-circle"
    class="p-button-info"
    (click)="showInfo()"
    pRipple
  ></button>
  <button
    pButton
    type="button"
    label="Attention"
    icon="pi pi-exclamation-triangle"
    class="p-button-warning"
    (click)="showWarn()"
    pRipple
  ></button>
  <button
    pButton
    type="button"
    label="Erreur"
    icon="pi pi-times"
    class="p-button-danger"
    (click)="showError()"
    pRipple
  ></button>

  <hr style="margin: 2rem 0" /> -->

<!-- Bouton Confirmation -->
<!-- <button
    pButton
    type="button"
    label="Supprimer"
    icon="pi pi-trash"
    class="p-button-danger"
    (click)="confirmDelete()"
    pRipple
  ></button>
</div> -->


<!-- <app-landing-page-two></app-landing-page-two> -->
<router-outlet></router-outlet>

<!-- <app-ajout-equipe></app-ajout-equipe> -->
<!-- <app-detail-projet></app-detail-projet> -->
