<div class="dashboard-container">
  <main class="main-content">
    <header class="main-header">
      <div class="welcome">
        <h1>Tableau de bord</h1>
        <p>Bienvenue sur <span style="color: #ff6f00">Collab</span>Dev !!</p>
      </div>
      <div class="header-right">
        <div class="search-box">
          <img
            src="SearchRecherche.png"
            alt="Search icon"
            class="search-icon"
          />
          <input
            type="text"
            placeholder="Recherche"
            [(ngModel)]="searchQuery"
            (input)="onSearchChange($event)"
          />
        </div>
        <button class="filter-btn" (click)="resetFilter()">
          <img src="FunnelFiltre.png" alt="Filter icon" class="filter-icon" />
          filtrer
        </button>
      </div>
    </header>

    <section class="stat-cards">
      <div
        class="stat-card"
        (click)="setFilter('todo')"
        [class.active]="currentFilter === 'todo'"
      >
        <div class="stat-content">
          <h2>Projets à faire</h2>
          <p class="stat-number">{{ todoCount }}</p>
        </div>
        <div class="stat-icon-wrapper todo-icon">
          <img
            src="icomoon-free_clockProjets à faire.png"
            alt="Projets à faire icon"
            class="stat-icon-img"
          />
        </div>
      </div>
      <div
        class="stat-card"
        (click)="setFilter('in-progress')"
        [class.active]="currentFilter === 'in-progress'"
      >
        <div class="stat-content">
          <h2>Projets en cours</h2>
          <p class="stat-number">{{ inProgressCount }}</p>
        </div>
        <div class="stat-icon-wrapper inprogress-icon">
          <img
            src="bi_folderProjets en cours.png"
            alt="Projets en cours icon"
            class="stat-icon-img"
          />
        </div>
      </div>
      <div
        class="stat-card"
        (click)="setFilter('completed')"
        [class.active]="currentFilter === 'completed'"
      >
        <div class="stat-content">
          <h2>Projets terminés</h2>
          <p class="stat-number">{{ completedCount }}</p>
        </div>
        <div class="stat-icon-wrapper completed-icon">
          <img
            src="VectorProjets terminés.png"
            alt="Projets terminés icon"
            class="stat-icon-img"
          />
        </div>
      </div>
    </section>

    <section class="project-cards">
      <div class="project-card" *ngFor="let project of filteredProjects">
        <div class="project-header">
          <h3>{{ project.title }}</h3>
          <span
            class="status"
            [ngClass]="{
              'in-progress': project.status === 'in-progress',
              completed: project.status === 'completed',
              todo: project.status === 'todo'
            }"
          >
            {{
              project.status === "in-progress"
                ? "En cours"
                : project.status === "completed"
                ? "Terminé"
                : "A faire"
            }}
          </span>
        </div>
        <p class="project-description">
          {{ project.description }}
        </p>
        <div class="project-tech-stack">
          <span class="tech-tag" *ngFor="let tech of project.technologies">{{
            tech
          }}</span>
        </div>
        <div class="project-footer">
          <div class="collaborators-progress">
            <div class="progress-bar-container">
              <div
                class="progress-bar"
                [style.width.%]="project.progress"
              ></div>
            </div>
            <span>{{ project.progress }}%</span>
          </div>
          <div class="content">
            <div class="avatar bg"></div>
            <div class="avatar bl"></div>
            <div class="avatar bc" *ngIf="project.collaborators > 2"></div>
            <p class="collaborators-count">
              {{ project.collaborators }} Collaborateur{{
                project.collaborators > 1 ? "s" : ""
              }}
            </p>
          </div>
        </div>
      </div>

      <div class="no-projects" *ngIf="filteredProjects.length === 0">
        <p>Aucun projet trouvé pour cette catégorie.</p>
      </div>
    </section>
  </main>
</div>
