<div class="profile-container">
  <div class="header-section">
    <h1 class="profile-title">PROFIL</h1>
    <h2 class="profile-subtitle">Mon profil</h2>
  </div>

  <div class="profile-card">
    <div class="avatar-section">
      <div class="avatar-circle">
        <span class="avatar-initials">{{ getInitials(user?.speudo || '') }}</span>
      </div>
      <div class="name-section">
        <!-- <h3 class="initials">{{ getInitials(user?.speudo || '') }}</h3> -->
        <h4 class="full-name">{{ user?.speudo || '' }}</h4>
        
      </div>
      <!-- <div class="info-section">
        <div class="info-group">
          <label>Pseudo</label>
          <div class="info-value">{{ user?.speudo || '' }}</div>
        </div>  
      </div> -->
    </div>
  </div>

  <div class="edit-section">
    <h3>Modifier les informations</h3>
    
    <form [formGroup]="profileForm" (ngSubmit)="updateProfile()">
      <div class="form-group">
        <label for="pseudo">Pseudo</label>
        <input type="text" id="pseudo" formControlName="pseudo">
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" formControlName="email">
      </div>

      <button type="submit" class="update-button" [disabled]="!profileForm.valid">
        Mettre à jour
      </button>

      <div *ngIf="profileUpdateSuccess" class="success-message">
        Profil mis à jour avec succès!
      </div>
    </form>
  </div>

  <div class="password-section">
    <h3>Changer le mot de passe</h3>
    
    <form [formGroup]="passwordForm" (ngSubmit)="updatePassword()">
      <div class="form-group">
        <label for="oldPassword">Mot de passe actuel</label>
        <input type="password" id="oldPassword" formControlName="oldPassword">
      </div>

      <div class="form-row">
        <div class="form-group">
          <label for="newPassword">Nouveau mot de passe</label>
          <input type="password" id="newPassword" formControlName="newPassword">
        </div>

        <div class="form-group">
          <label for="confirmPassword">Confirmer le nouveau mot de passe</label>
          <input type="password" id="confirmPassword" formControlName="confirmPassword">
        </div>
      </div>

      <div *ngIf="passwordForm.errors?.['mismatch'] && passwordForm.get('confirmPassword')?.touched" 
          class="error-message">
        Les mots de passe ne correspondent pas
      </div>


      <button type="submit" class="confirm-button" [disabled]="!passwordForm.valid">
        Confirmer
      </button>

      <div *ngIf="passwordUpdateSuccess" class="success-message">
        Mot de passe changé avec succès!
      </div>
    </form>
  </div>

  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>
</div>